{% extends 'base.html' %}


{% block content  %}



    <div class="menu contato">

        <div class="links contato">
            <i class="fa-brands fa-instagram fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Instagram</b></p>
            <a style="text-decoration:none;" rel="noreferrer" target="_blank" href="https://instagram.com/cult.ureofc">
                <small class="social-small">@cult.ureofc</small>           
            </a>
        </div>

        <div class="links contato">
            <i class="fa-solid fa-envelope fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Email</b></p>
            <a style="text-decoration:none;" rel="noreferrer" href="mailto:email@email.com?subject=Contato&body=Olá! Bom dia."> <small class="social-small">email@email.com</small></a>
        </div>

        <div class="links contato">
            <i class="fa-brands fa-twitter fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Twitter</b></p>
            <a style="text-decoration:none;" rel="noreferrer" target="_blank" href="https://twitter.com/twitter">
                <small class="social-small">Culture</small>         
            </a>
        </div>

    </div>



{% endblock %}