{% extends 'base.html' %}


{% block content  %}



    <div class="menu contato">

        <div class="links contato">
            <i class="fa-brands fa-instagram fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Instagram</b></p>
            <small class="social-small">@insta</small>
        </div>

        <div class="links contato">
            <i class="fa-solid fa-envelope fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Email</b></p>
            <small class="social-small">email@email.com</small>
        </div>

        <div class="links contato">
            <i class="fa-brands fa-twitter fa-5x"  style="color: #ffbf00;"></i>
            <p class="social"><b>Twitter</b></p>
            <small class="social-small">@twitter</small>
        </div>

    </div>



{% endblock %}