{% extends 'base.html' %}

{% block content %}


<body>

    <h1>Manipulação das midias nas diversas culturas</h1>
    
    <section class="resumo">

        <h2>Cultura indigena</h2>

        <div class="container" id="contai">
            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='indio2.jpg')}}" />
            </div>

            <div class="text-container">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci non odit! Repellat natus maiores inventore, illum illo, consequuntur quod eveniet optio aliquam deserunt neque dignissimos reprehenderit odio reiciendis quibusdam?
                Exercitationem placeat saepe autem, omnis suscipit modi recusandae, aut corrupti et a animi doloremque ut. Magnam distinctio obcaecati culpa earum sint, aperiam recusandae, voluptates laudantium, vitae molestiae dolorum esse officiis!
                Sequi autem odio dignissimos consequatur mollitia officia ratione, adipisci magnam, hic, nesciunt quasi beatae enim eveniet deserunt dolor recusandae. Consequuntur quaerat, possimus ipsam tempore perferendis sint maiores voluptas aperiam incidunt.</p>
            </div>
        </div>
       
    </section>
    
    <section class="resumo">

        <h2>Cultura Africana</h2>

        <div class="container">

            <div class="text-container">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci non odit! Repellat natus maiores inventore, illum illo, consequuntur quod eveniet optio aliquam deserunt neque dignissimos reprehenderit odio reiciendis quibusdam?
                Exercitationem placeat saepe autem, omnis suscipit modi recusandae, aut corrupti et a animi doloremque ut. Magnam distinctio obcaecati culpa earum sint, aperiam recusandae, voluptates laudantium, vitae molestiae dolorum esse officiis!
                Sequi autem odio dignissimos consequatur mollitia officia ratione, adipisci magnam, hic, nesciunt quasi beatae enim eveniet deserunt dolor recusandae. Consequuntur quaerat, possimus ipsam tempore perferendis sint maiores voluptas aperiam incidunt.</p>
            </div>

            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='africana.jpg')}}" />
            </div>

        </div>
       
    </section>

    <section class="resumo">

        <h2>Cultura da periferia</h2>

        <div class="container">
            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='periferia.jpg')}}" />
            </div>

            <div class="text-container">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci non odit! Repellat natus maiores inventore, illum illo, consequuntur quod eveniet optio aliquam deserunt neque dignissimos reprehenderit odio reiciendis quibusdam?
                Exercitationem placeat saepe autem, omnis suscipit modi recusandae, aut corrupti et a animi doloremque ut. Magnam distinctio obcaecati culpa earum sint, aperiam recusandae, voluptates laudantium, vitae molestiae dolorum esse officiis!
                Sequi autem odio dignissimos consequatur mollitia officia ratione, adipisci magnam, hic, nesciunt quasi beatae enim eveniet deserunt dolor recusandae. Consequuntur quaerat, possimus ipsam tempore perferendis sint maiores voluptas aperiam incidunt.</p>
            </div>
        </div>
       
    </section>

    <section class="resumo">

        <h2>Cultura brasileira</h2>

        <div class="container">
            <div class="text-container">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci non odit! Repellat natus maiores inventore, illum illo, consequuntur quod eveniet optio aliquam deserunt neque dignissimos reprehenderit odio reiciendis quibusdam?
                Exercitationem placeat saepe autem, omnis suscipit modi recusandae, aut corrupti et a animi doloremque ut. Magnam distinctio obcaecati culpa earum sint, aperiam recusandae, voluptates laudantium, vitae molestiae dolorum esse officiis!
                Sequi autem odio dignissimos consequatur mollitia officia ratione, adipisci magnam, hic, nesciunt quasi beatae enim eveniet deserunt dolor recusandae. Consequuntur quaerat, possimus ipsam tempore perferendis sint maiores voluptas aperiam incidunt.</p>
            </div>

            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='brasil.jpg')}}" />
            </div>
        </div>
    </section>
<body>



{% endblock %}

