{% extends 'base.html' %}

{% block content %}


<body>

    <h1>Culturas que compõem a cultura nacional brasileira</h1>
    <section class="resumo">

        <h2>Cultura brasileira</h2>


        <div class="container">
            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='brasil.jpg')}}" />
                <div class="home">
                    <a href='{{url_for("brasil")}}'>Sobre esta cultura <i class="fa-solid fa-landmark"></i></a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="resumo">

        <h2>Cultura Europeia</h2>

        <div class="container" id="contai">
            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='europe.jpg')}}" />
                <div class="home">
                    <a href='{{url_for("europa")}}'>Sobre esta cultura <i class="fa-solid fa-landmark"></i></a>
                </div>
            </div>
        </div>
       
    </section>

    <section class="resumo">

        <h2>Cultura indigena</h2>

        <div class="container">
            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='indigena.jpg')}}" />
                <div class="home">
                    <a href='{{url_for("indigena")}}'>Sobre esta cultura <i class="fa-solid fa-landmark"></i></a>
                </div>
            </div>
        </div>
       
    </section>
    
    <section class="resumo">

        <h2>Cultura Africana</h2>

        <div class="container">

            

            <div class="img-container">
                <img class="img-body" src="{{url_for('static',filename='africa.jpg')}}" />
                <div class="home">
                    <a href='{{url_for("africa")}}'>Sobre esta cultura <i class="fa-solid fa-landmark"></i></a>
                </div>
            </div>

        </div>
       
    </section>

    
<body>



{% endblock %}

