<header>
    <div class="menu">
        <div class="logo">
            <a href="{{url_for('index')}}"> <img class="img-nav" src="{{url_for('static',filename='logo.jpeg')}}" /> </a>
        </div>

        <div class="links">
            
            <a href="{{url_for('sobre')}}"><b>Sobre</b></a>
            <a href="{{url_for('parceiros')}}"><b>Parceiros</b></a>
            <a href="{{url_for('contato')}}"><b>Contato</b></a>
            <a href="{{url_for('baixar')}}"><b>Baixar</b></a>
        </div>
        <div class="xxx"></div>
</div>
</header>