<header>
    <div class="menu">
        <div class="logo">
            <a href="{{url_for('index')}}"> <img class="img-nav" src="{{url_for('static',filename='logo.jpeg')}}" /> </a>
        </div>

        <div class="links">
            
            <a class="inactive" href="{{url_for('sobre')}}">Sobre <i class="fa-solid fa-address-card"></i></a>
            <a class="inactive" href="{{url_for('parceiros')}}">Parceiros <i class="fa-solid fa-handshake"></i></a>
            <a class="inactive" href="{{url_for('contato')}}">Contato <i class="fa-solid fa-address-book"></i></a>
            <a class="inactive" href="{{url_for('baixar')}}">Baixar <i class="fa-solid fa-download"></i></a>
            
        </div>
        <div class="xxx"></div>
</div>
</header>