<header>
    <div class="menu">
        <div class="logo">
            <a href="{{url_for('index')}}"> <img class="img-nav" src="{{url_for('static',filename='logo.jpeg')}}" /> </a>
        </div>

        <div class="links">
            
            <a class="inactive" href="{{url_for('sobre')}}">Sobre</a>
            <a class="inactive" href="{{url_for('parceiros')}}">Parceiros</a>
            <a class="inactive" href="{{url_for('contato')}}">Contato</a>
            <a class="inactive" href="{{url_for('baixar')}}">Baixar</a>
            
        </div>
        <div class="xxx"></div>
</div>
</header>