{% extends 'base.html'%}

{% block content %}



<body>
    <section class="resumo">

        <h2 class="parceiros h2">Parceiros</h2>
        
        <div class="parent">
            <div class="card">

                <p class="name">Adriely <br> @<span class="ig">driislz</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
                
                
            </div>
            <div class="card">

                <p class="name">Rodrigo <br> @<span class="ig">rodrigo.ciongoli</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
                

            </div>
            <div class="card">

                <p class="name">Gabriel <br> @<span class="ig">g.marqques</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
               

            </div>
            <div class="card">

                <p class="name">Sarah <br> @<span class="ig">sahmlz</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
                

            </div>
            <div class="card">

                <p class="name">Prof. Marcos <br> @<span class="ig">a</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
                

            </div>
            <div class="card"> 

                <p class="name">Centro Paulo Souza <br> @<span class="ig">a</span></p>
                <img class="img-parceiro" src="{{url_for('static', filename='adriely.jpeg')}}" alt="">
               

            </div>
        </div>
    
        
       
    </section>


</body>


{% endblock %}