{% extends 'base.html' %}

{% block content %}


<body>

    <h1>SOBRE</h1>
    
    <section class="resumo">

        <div class="container about">

            <div class="text-container">
                <p class="text sobre">
                    Esse trabalho de conclusão de curso, 
                    vai falar especificamente sobre a maneira como a opinião popular é 
                    facilmente controlável e os falsos estereótipos culturais criados ao 
                    longo da história que até os dias atuais são utilizados e dificilmente desmentidos.  O
                    tema do trabalho foi escolhido e trabalhado com base no combate a fake news e distorção de 
                    informações no contexto cultural e cinematográficos.  O site tem como objetivo usar um dos meios de comunicação para divulgar
                    e espalhar informações de forma transparente combatendo a desinformação e fake News sobre os aspectos culturais.
                </p>
            </div>

        </div>

    </section>
   
<body>



{% endblock %}

